

/* MARGINS */
  /* NONE */
  .margin-none        { margin:       0 !important; }
  .margin-x-none      { margin-left:  0 !important; margin-right:  0 !important; }
  .margin-y-none      { margin-top:   0 !important; margin-bottom: 0 !important; }
  .margin-top-none    { margin-top:   0 !important; }
  .margin-right-none  { margin-right: 0 !important; }
  .margin-bottom-none { margin-bottom:0 !important; }
  .margin-left-none   { margin-left:  0 !important; }
  /* XS */
  .margin-xs          { margin:       2px !important; }
  .margin-x-xs        { margin-left:  2px !important; margin-right:  2px !important; }
  .margin-y-xs        { margin-top:   2px !important; margin-bottom: 2px !important; }
  .margin-top-xs      { margin-top:   2px !important; }
  .margin-right-xs    { margin-right: 2px !important; }
  .margin-bottom-xs   { margin-bottom:2px !important; }
  .margin-left-xs     { margin-left:  2px !important; }
  /* SM */
  .margin-sm          { margin:       5px !important; }
  .margin-x-sm        { margin-left:  5px !important; margin-right:  5px !important; }
  .margin-y-sm        { margin-top:   5px !important; margin-bottom: 5px !important; }
  .margin-top-sm      { margin-top:   5px !important; }
  .margin-right-sm    { margin-right: 5px !important; }
  .margin-bottom-sm   { margin-bottom:5px !important; }
  .margin-left-sm     { margin-left:  5px !important; }
  /* MD */
  .margin-md          { margin:       10px !important; }
  .margin-x-md        { margin-left:  10px !important; margin-right:  10px !important; }
  .margin-y-md        { margin-top:   10px !important; margin-bottom: 10px !important; }
  .margin-top-md      { margin-top:   10px !important; }
  .margin-right-md    { margin-right: 10px !important; }
  .margin-bottom-md   { margin-bottom:10px !important; }
  .margin-left-md     { margin-left:  10px !important; }
  /* LG */
  .margin-lg          { margin:       15px !important; }
  .margin-x-lg        { margin-left:  15px !important; margin-right:  15px !important; }
  .margin-y-lg        { margin-top:   15px !important; margin-bottom: 15px !important; }
  .margin-top-lg      { margin-top:   15px !important; }
  .margin-right-lg    { margin-right: 15px !important; }
  .margin-bottom-lg   { margin-bottom:15px !important; }
  .margin-left-lg     { margin-left:  15px !important; }
  /* LGG */
  .margin-lgg          { margin:       30px !important; }
  .margin-x-lgg        { margin-left:  30px !important; margin-right:  30px !important; }
  .margin-y-lgg        { margin-top:   30px !important; margin-bottom: 30px !important; }
  .margin-top-lgg      { margin-top:   30px !important; }
  .margin-right-lgg    { margin-right: 30px !important; }
  .margin-bottom-lgg   { margin-bottom:30px !important; }
  .margin-left-lgg     { margin-left:  30px !important; }
  /* xG */
  .margin-xg          { margin:       50px !important; }
  .margin-x-xg        { margin-left:  50px !important; margin-right:  50px !important; }
  .margin-y-xg        { margin-top:   50px !important; margin-bottom: 50px !important; }
  .margin-top-xg      { margin-top:   50px !important; }
  .margin-right-xg    { margin-right: 50px !important; }
  .margin-bottom-xg   { margin-bottom:50px !important; }
  .margin-left-xg     { margin-left:  50px !important; }

/* PADDING */
  /* NONE */
  .padding-none        { padding:       0 !important; }
  .padding-x-none      { padding-left:  0 !important; padding-right:  0 !important; }
  .padding-y-none      { padding-top:   0 !important; padding-bottom: 0 !important; }
  .padding-top-none    { padding-top:   0 !important; }
  .padding-right-none  { padding-right: 0 !important; }
  .padding-bottom-none { padding-bottom:0 !important; }
  .padding-left-none   { padding-left:  0 !important; }
  /* XS */
  .padding-xs          { padding:       2px !important; }
  .padding-x-xs        { padding-left:  2px !important; padding-right:  2px !important; }
  .padding-y-xs        { padding-top:   2px !important; padding-bottom: 2px !important; }
  .padding-top-xs      { padding-top:   2px !important; }
  .padding-right-xs    { padding-right: 2px !important; }
  .padding-bottom-xs   { padding-bottom:2px !important; }
  .padding-left-xs     { padding-left:  2px !important; }
  /* SM */
  .padding-sm          { padding:       5px !important; }
  .padding-x-sm        { padding-left:  5px !important; padding-right:  5px !important; }
  .padding-y-sm        { padding-top:   5px !important; padding-bottom: 5px !important; }
  .padding-top-sm      { padding-top:   5px !important; }
  .padding-right-sm    { padding-right: 5px !important; }
  .padding-bottom-sm   { padding-bottom:5px !important; }
  .padding-left-sm     { padding-left:  5px !important; }
  /* MD */
  .padding-md          { padding:       10px !important; }
  .padding-x-md        { padding-left:  10px !important; padding-right:  10px !important; }
  .padding-y-md        { padding-top:   10px !important; padding-bottom: 10px !important; }
  .padding-top-md      { padding-top:   10px !important; }
  .padding-right-md    { padding-right: 10px !important; }
  .padding-bottom-md   { padding-bottom:10px !important; }
  .padding-left-md     { padding-left:  10px !important; }
  /* LG */
  .padding-lg          { padding:       15px !important; }
  .padding-x-lg        { padding-left:  15px !important; padding-right:  15px !important; }
  .padding-y-lg        { padding-top:   15px !important; padding-bottom: 15px !important; }
  .padding-top-lg      { padding-top:   15px !important; }
  .padding-right-lg    { padding-right: 15px !important; }
  .padding-bottom-lg   { padding-bottom:15px !important; }
  .padding-left-lg     { padding-left:  15px !important; }
  /* LGG */
  .padding-lgg          { padding:       30px !important; }
  .padding-x-lgg        { padding-left:  30px !important; padding-right:  30px !important; }
  .padding-y-lgg        { padding-top:   30px !important; padding-bottom: 30px !important; }
  .padding-top-lgg      { padding-top:   30px !important; }
  .padding-right-lgg    { padding-right: 30px !important; }
  .padding-bottom-lgg   { padding-bottom:30px !important; }
  .padding-left-lgg     { padding-left:  30px !important; }
  /* XG */
  .padding-xg          { padding:       50px !important; }
  .padding-x-xg        { padding-left:  50px !important; padding-right:  50px !important; }
  .padding-y-xg        { padding-top:   50px !important; padding-bottom: 50px !important; }
  .padding-top-xg      { padding-top:   50px !important; }
  .padding-right-xg    { padding-right: 50px !important; }
  .padding-bottom-xg   { padding-bottom:50px !important; }
  .padding-left-xg     { padding-left:  50px !important; }

/* FONT SIZE */
  .fnt-xs     { font-size:   10px !important; }
  .fnt-xs-sm  { font-size:   11px !important; }
  .fnt-sm     { font-size:   12px !important; }
  .fnt-md     { font-size:   14px !important; }
  .fnt-lg     { font-size:   18px !important; }
  .fnt-scale-down-190 { font-size: 190% !important; }
  .fnt-scale-down-180 { font-size: 180% !important; }
  .fnt-scale-down-170 { font-size: 170% !important; }
  .fnt-scale-down-160 { font-size: 160% !important; }
  .fnt-scale-down-150 { font-size: 150% !important; }
  .fnt-scale-down-140 { font-size: 140% !important; }
  .fnt-scale-down-130 { font-size: 130% !important; }
  .fnt-scale-down-120 { font-size: 120% !important; }
  .fnt-scale-down-110 { font-size: 110% !important; }
  .fnt-scale-down-90 { font-size: 90% !important; }
  .fnt-scale-down-80 { font-size: 80% !important; }
  .fnt-scale-down-70 { font-size: 70% !important; }
  .fnt-scale-down-60 { font-size: 60% !important; }
  .fnt-scale-down-50 { font-size: 50% !important; }
  .fnt-scale-down-40 { font-size: 40% !important; }
  .fnt-scale-down-30 { font-size: 30% !important; }
  .fnt-scale-down-20 { font-size: 20% !important; }
  .fnt-scale-down-10 { font-size: 10% !important; }


  /* TEXT */
  .tx-left { text-align: left; }
  .tx-center { text-align: center; }
  .tx-right { text-align: right; }
  .tx-overline { text-decoration: overline !important; }

  /* FLOATS */
  .pull-left { float:left; }
  .pull-right { float:right; }

  /* BORDERS */
  .radius { border-radius: 25px; }
  .radius50p { border-radius: 50%; }

  .clearfix { clear: both; }

  /* ROTATIMG */
  .rotate45{
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    transform:         rotate(45deg);
  }

  .rotate90{
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
  }

  .rotate135{
    -webkit-transform: rotate(135deg);
    -moz-transform:    rotate(135deg);
    -ms-transform:     rotate(135deg);
    -o-transform:      rotate(135deg);
    transform:         rotate(135deg);
  }

  .rotate180{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
  }

  .rotate225{
    -webkit-transform: rotate(225deg);
    -moz-transform:    rotate(225deg);
    -ms-transform:     rotate(225deg);
    -o-transform:      rotate(225deg);
    transform:         rotate(225deg);
  }

  .rotate270{
    -webkit-transform: rotate(270deg);
    -moz-transform:    rotate(270deg);
    -ms-transform:     rotate(270deg);
    -o-transform:      rotate(270deg);
    transform:         rotate(270deg);
  }

  .rotate315{
    -webkit-transform: rotate(315deg);
    -moz-transform:    rotate(315deg);
    -ms-transform:     rotate(315deg);
    -o-transform:      rotate(315deg);
    transform:         rotate(315deg);
  }

  /* WIDTHS */
  .width-50{
    width: 45% !important;
  }
/* Site elements */

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
}

html {
  z-index: -1 !important;
}

#info_github {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 2px;
  font-size: 9px;
  background-color: #f0f0f0;
  color: #334d4d;
  border-radius: 3px;
  z-index: 99999;
}

#info_github img {
  margin: 0;
  padding: 0;
  width: 9px;
}
#info_github a{
  background-color: #ffffff;
  font-size: 10px;
  padding: 3px !important;
  margin: 1px !important;
  border-radius: 4px;
  text-shadow: none !important;
}

#info_github a:hover {
  background-color: #cccccc !important;
  text-shadow: none !important;
}

.bg-radial-orange{
  background: rgb(227, 79, 38);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(227, 79, 38)), to(rgb(135, 45, 18)));
  /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(135, 45, 18)), to(rgb(227, 79, 38)));*/
  background: -webkit-radial-gradient(rgb(227, 79, 38), rgb(135, 45, 18));
  background:    -moz-radial-gradient(rgb(227, 79, 38), rgb(135, 45, 18));
  background:     -ms-radial-gradient(rgb(227, 79, 38), rgb(135, 45, 18));
  background:      -o-radial-gradient(rgb(227, 79, 38), rgb(135, 45, 18));
  background:         radial-gradient(rgb(227, 79, 38), rgb(135, 45, 18));
}

.bg-radial-blue{
  background: rgb(27,115,186);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(27,115,186)), to(rgb(19, 82, 134)));
  /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(19, 82, 134)), to(rgb(27,115,186)));*/
  background: -webkit-radial-gradient(rgb(27,115,186), rgb(19, 82, 134));
  background:    -moz-radial-gradient(rgb(27,115,186), rgb(19, 82, 134));
  background:     -ms-radial-gradient(rgb(27,115,186), rgb(19, 82, 134));
  background:      -o-radial-gradient(rgb(27,115,186), rgb(19, 82, 134));
  background:         radial-gradient(rgb(27,115,186), rgb(19, 82, 134));
}

.tx-orange{
  color: rgb(227, 79, 38);
}

.tx-blue{
  color: rgb(27,115,186);
}

.step:not(.slide){
  color: #ffffff;
}

.step:not(.slide) a{
  background: none !important;
  text-shadow: none;
  text-shadow: -1px -1px 10px #000 !important;
}

.step:not(.slide) a:hover{
  background: none !important;
  text-shadow: -1px -1px 10px #f0f0f0 !important;
}

.step.slide a{
  text-shadow: none !important;
  background-color: transparent !important;
}

.step.slide a:hover{
  background-color: transparent !important;
}

.bg-radial-orange .step.slide a {
  color: rgb(227, 79, 38);
}

.bg-radial-orange .step.slide a:hover{
  text-shadow: 0px 0px 20px rgb(227, 79, 38) !important;
}

.bg-radial-blue .step.slide a {
  color: rgb(27,115,186);
}

.bg-radial-blue .step.slide a:hover{
  text-shadow: 0px 0px 20px rgb(27,115,186) !important;
}

ul > li{
  line-height: 110%;
  list-style: disc;
  display: grid;
  margin-top: 15px;
}

ul.none > li {
  list-style: none;
}

.slide:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 92%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 0 4%;
    background-size: 50px 70px;
}

.bg-radial-orange .slide:before {
  background-image: url('../images/html.png');
}

.bg-radial-blue .slide:before {
  background-image: url('../images/css.png');
}

.gist .blob-code-inner, .gist .blob-num{
    font-size: 22px !important;
}

.gist a, .gist .gist-meta a {
    text-shadow: none !important;
}

.table_free tbody tr td:first-child{
  font-size: 50% !important;
  padding-right: 20px;
  vertical-align: middle;
  line-height: normal;
}

.table_free tbody tr td:not(:first-child){
  font-size: 40% !important;
  line-height: normal;
}

.table_api tbody tr td:first-child{
  text-align: right;
}

.table_api tbody tr td:not(:first-child){
  line-height: 45px;
}

#beatles:before{
  background-image: url('../images/memes/the_beatles.png');
  content: ' ';
  display: block;
  position: absolute;
  left: 50%;
  top: 90%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 4%;
  background-size: 50% 30%;
  -webkit-filter:invert(100%);
}

p.width60 {
  width: 60% !important;
}

p.no_line_height {
  line-height: 15px;
}

.step1000{ width: 1000px; }
.step1200{ width: 1200px; }
.step1600{ width: 1600px; }

.border_cube{
  border: solid 2px #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
}

.cube {
  width: 236px;
  max-height: 600px;
  margin:18px;
  float: left;
  font-size: 50% !important;
  min-height: 210px;
  overflow: hidden;
}

.cube.cube-100 {
  width: 100%;
}

.cube.cube-30 {
  width: 30%;
  margin:16px;
  min-height: 150px;
}

.cube > .cube_title{
  width: 100%;
  border-bottom: solid 2px #f0f0f0;
  margin: 0;
  text-align: center;
  font-size: 85% !important;
  line-height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.cube > .cube_body{
  width: 100%;
  border-top: solid 2px #f0f0f0;
  margin: 0;
  margin-top: -2px;
  padding: 5px;
  text-align: center;
  font-size: 65% !important;
  box-sizing: border-box;
}

.cube.cube-30 .cube_body{
  padding: 0;
}

.cube .cube_body .gist-file {
  margin: 0;
}

.isHtml5 {
  color: #FFCF36 !important;
}

.button {
    border: none;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bg-radial-orange .step.slide .button{
  background-color:  rgb(227, 79, 38) ;
  color: #ffffff;
}

.bg-radial-orange .step:not(.slide) .button{
  background-color: #ffffff;
  color: rgb(227, 79, 38);
  font-weight: bold;
}

.bg-radial-blue .step.slide .button{
  background-color:  rgb(27,115,186);
  color: #ffffff;
}

.bg-radial-blue .step:not(.slide) .button{
  background-color: #ffffff;
  color: rgb(27,115,186);
  font-weight: bold;
}

.minicube{
  background-color: #f0f0f0;
  color: #606060;
  height: 100px;
  width: 100px;
  display: inline-block;
  content: '';
  line-height: 100px;
}

.minisphere{
  background-color: #f0f0f0;
  height: 100px;
  width: 100px;
  display: inline-block;
  content: '';
  border-radius: 50%;
  line-height: 100px;
}

.border_image{
  border: 18px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 37 round;
  -o-border-image: url(../images/border.png) 37 round;
  border-image: url(../images/border.png) 37 round;
  vertical-align: middle;
}

.border_image2{
  border: 18px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/border.png) 37 stretch;
  -o-border-image: url(../images/border.png) 37 stretch;
  border-image: url(../images/border.png) 37 stretch;
  vertical-align: middle;
}

.grad_linear {
  background: red; /* Quando não suportar gradients */
  background: -webkit-linear-gradient(left top, blue, red, yellow); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, blue, red, yellow); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, blue, red, yellow); /* Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, blue, red, yellow); /* Default */
}

.grad_linear_repeat {
  background: red; /* Quando não suportar gradients */
  background: -webkit-repeating-linear-gradient(45deg, blue, red 20%, yellow 30%); /* Safari 5.1 to 6.0 */
  background: -o-repeating-linear-gradient(45deg, blue, red 20%, yellow 30%); /* Opera 11.1 to 12.0 */
  background: -moz-repeating-linear-gradient(45deg, blue, red 20%, yellow 30%); /* Firefox 3.6 to 15 */
  background: repeating-linear-gradient(45deg, blue, red 20%, yellow 30%); /* Default */
}

.grad_radial {
  background: red; /* Quando não suportar gradients */
  background: -webkit-radial-gradient(blue, red, yellow); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(blue, red, yellow); /* Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(blue, red, yellow); /* Firefox 3.6 to 15 */
  background: radial-gradient(blue, red, yellow); /* Default */
}

.grad_radial_repeat {
  background: red; /* Quando não suportar gradients */
  background: -webkit-repeating-radial-gradient(blue, red 20%, yellow 30%); /* Safari 5.1 to 6.0 */
  background: -o-repeating-radial-gradient(blue, red 20%, yellow 30%); /* Opera 11.1 to 12.0 */
  background: -moz-repeating-radial-gradient(blue, red 20%, yellow 30%); /* Firefox 3.6 to 15 */
  background: repeating-radial-gradient(blue, red 20%, yellow 30%); /* Default */
}

.bobesponja {
  position: absolute;
  -webkit-animation: bobesponja 8s infinite normal ease-out;
  animation: bobesponja 8s infinite normal ease-out;
  border-radius: 50%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bobesponja {
  0%   {left:-250px; top:-150px;}
  25%  {left:1000px; top:-150px;}
  50%  {left:1000px; top:700px;}
  75%  {left:-250px; top:700px;}
  100% {left:-250px; top:-150px;}
}

/* Standard syntax */
@keyframes bobesponja {
  0%   {left:-300px; top:-150px;}
  25%  {left:1000px; top:-150px;}
  50%  {left:1000px; top:700px;}
  75%  {left:-300px; top:700px;}
  100% {left:-300px; top:-150px;}
}

.bobesponjaI {
  position: absolute;
  -webkit-animation: bobesponjaI 8s infinite normal ease-out;
  animation: bobesponjaI 8s infinite normal ease-out;
  border-radius: 50%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bobesponjaI {
  100% {left:-250px; top:-150px;}
  75%  {left:1000px; top:-150px;}
  50%  {left:1000px; top:600px;}
  25%  {left:-250px; top:600px;}
  0%   {left:-250px; top:-150px;}
}

/* Standard syntax */
@keyframes bobesponjaI {
  100% {left:-300px; top:-150px;}
  75%  {left:1000px; top:-150px;}
  50%  {left:1000px; top:600px;}
  25%  {left:-300px; top:600px;}
  0%   {left:-300px; top:-150px;}
}

.calrton {
  position: absolute;
  -webkit-animation: calrton 8s infinite normal ease-out;
  animation: calrton 8s infinite normal ease-out;
}

@-webkit-keyframes calrton {
  0%  {left:-250px; top:400px;}
  50%  {left:1200px; top:400px;}
  100%  {left:-250px; top:400px;}
}

@keyframes calrton {
  0%  {left:-250px; top:400px;}
  50%  {left:1200px; top:400px;}
  100%  {left:-250px; top:400px;}
}

.moonw {
  position: absolute;
  -webkit-animation: moonw 8s infinite normal linear;
  animation: moonw 8s infinite normal linear;
}

@-webkit-keyframes moonw {
  0%  {
    left:-250px;
    top:400px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  49.99%  {
    left:1200px;
    top:400px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  50%  {
    left:1200px;
    top:400px;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100%  {left:-250px; top:400px;}
}

@keyframes moonw {
  0%  {
    left:-250px;
    top:400px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  49.99%  {
    left:1200px;
    top:400px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  50%  {
    left:1200px;
    top:400px;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100%  {left:-250px; top:400px;}
}

img.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/* Exemplos de transforms */

.ex-translate {
  -webkit-animation: ex-translate 4s infinite normal ease-out;
  animation: ex-translate 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-translate {
  100%{
    -ms-transform: translate(30px, 30px); /* IE 9 */
    -webkit-transform: translate(30px, 30px); /* Safari */
    transform: translate(30px, 30px);
  }
}

/* Standard syntax */
@keyframes ex-translate {
  100%{
    -ms-transform: translate(30px, 30px); /* IE 9 */
    -webkit-transform: translate(30px, 30px); /* Safari */
    transform: translate(30px, 30px);
  }
}

.ex-rotate {
  -webkit-animation: ex-rotate 4s infinite normal ease-out;
  animation: ex-rotate 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-rotate {
  100%{
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
  }
}

/* Standard syntax */
@keyframes ex-rotate {
  100%{
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
  }
}

.ex-scale {
  -webkit-animation: ex-scale 4s infinite normal ease-out;
  animation: ex-scale 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-scale {
  100%{
    -ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
  }
}

/* Standard syntax */
@keyframes ex-scale {
  100%{
    -ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
  }
}

.ex-skew {
  -webkit-animation: ex-skew 4s infinite normal ease-out;
  animation: ex-skew 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-skew {
  100%{
    -ms-transform: skew(20deg, 10deg); /* IE 9 */
    -webkit-transform: skew(20deg, 10deg); /* Safari */
    transform: skew(20deg, 10deg);
  }
}

/* Standard syntax */
@keyframes ex-skew {
  100%{
    -ms-transform: skew(20deg, 10deg); /* IE 9 */
    -webkit-transform: skew(20deg, 10deg); /* Safari */
    transform: skew(20deg, 10deg);
  }
}

.ex-matrix {
  -webkit-animation: ex-matrix 4s infinite normal ease-out;
  animation: ex-matrix 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-matrix {
  100%{
    -ms-transform: matrix(1, 0, 0.5, 1, 150, 150); /* IE 9 */
    -webkit-transform: matrix(1, 0, 0.5, 1, 150, 150); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 150, 150);
  }
}

/* Standard syntax */
@keyframes ex-matrix {
  100%{
    -ms-transform: matrix(1, 0, 0.5, 1, 150, 150); /* IE 9 */
    -webkit-transform: matrix(1, 0, 0.5, 1, 150, 150); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 150, 150);
  }
}

.ex-rotateX {
  -webkit-animation: ex-rotateX 4s infinite normal ease-out;
  animation: ex-rotateX 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-rotateX {
  100%{
    -webkit-transform: rotateX(360deg); /* Safari */
    transform: rotateX(360deg);
  }
}

/* Standard syntax */
@keyframes ex-rotateX {
  100%{
    -webkit-transform: rotateX(360deg); /* Safari */
    transform: rotateX(360deg);
  }
}

.ex-rotateY {
  -webkit-animation: ex-rotateY 4s infinite normal ease-out;
  animation: ex-rotateY 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-rotateY {
  100%{
    -webkit-transform: rotateY(360deg); /* Safari */
    transform: rotateY(360deg);
  }
}

/* Standard syntax */
@keyframes ex-rotateY {
  100%{
    -webkit-transform: rotateY(360deg); /* Safari */
    transform: rotateY(360deg);
  }
}

.ex-rotateZ {
  -webkit-animation: ex-rotateZ 4s infinite normal ease-out;
  animation: ex-rotateZ 4s infinite normal ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ex-rotateZ {
  100%{
    -webkit-transform: rotateZ(360deg); /* Safari */
    transform: rotateZ(360deg);
  }
}

/* Standard syntax */
@keyframes ex-rotateZ {
  100%{
    -webkit-transform: rotateZ(360deg); /* Safari */
    transform: rotateZ(360deg);
  }
}

.ex-transition {
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

.ex-transition:hover {
    width: 300px;
    height: 300px;
}

.ex-transition2 {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.ex-transition2:hover {
    width: 300px;
    height: 300px;
    -webkit-transform:  rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

/*  FILTER  */
.fltr-blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.fltr-brightness {
    -webkit-filter: brightness(0.30);
    filter: brightness(0.30);
}

.fltr-contrast {
    -webkit-filter: contrast(280%);
    filter: contrast(280%);
}

.fltr-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fltr-huerotate {
    -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
}

.fltr-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.fltr-opacity {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.fltr-saturate {
    -webkit-filter: saturate(7);
    filter: saturate(7);
}

.fltr-sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

.fltr-shadow {
    -webkit-filter: drop-shadow(8px 8px 10px green);
    filter: drop-shadow(8px 8px 10px green);
}
